.account__sidebar {
    border: 1px solid hsla(0, 0%, 24%, 1);
    border-radius: 0px 20px 20px 0px;
    padding: 0 0 2rem 0;
    max-width: 280px;
    overflow: hidden;

    a {
        font-family: $poppins;
        color: white;
        display: flex;
        align-items: center;
        padding: .8rem $thin;

        svg {
            margin-right: 10px;
        }
    }

    .active {
        color: $brown100;
        background: $light100;

        svg {
            path {
                fill: $brown100;
            }
        }
    }

    #management {
        padding: 2rem 0;
        border-top: 1px solid hsla(0, 0%, 24%, 1);
        margin-top: $base;
    }

    @media(max-width: 750px) {
        height: fit-content;
        padding-bottom: 0;
        width: 100%;
        max-width: 400px;
        border-radius: 5px;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        a {
            padding: 10px;
            justify-content: center;
            flex-direction: column;

            @media (max-width: 450px) {
                padding: 5px;
            }

            span {
                text-align: center;
                font-size: 9px;

                @media (max-width: 350px) {
                    font-size: 7px;
                }
            }

            svg {
                margin-right: 0;
                margin-bottom: 5px;
            }
        }

        #management {
            margin-top: 0;
            padding: 0;
        }
    }
}