.components__faq {
    background: $creamPeach;
    padding: $big $p-fluid;

    h2 {
        font-family: $pacifico;
        font-size: $big;
        font-weight: 400;
        color: $dark100;
        margin-bottom: $base;

        @media (max-width: 850px) {
            font-size: 1.6rem;
        }
    }

    >div {

        summary::-webkit-details-marker {
            display: none;
        }

        summary::-webkit-details-marker {
            display: none;
        }

        details {
            background: $dark300;
            padding: $base;
            margin-bottom: $base;

            * {
                transition: all .3s ease;
            }

            & ::-webkit-details-marker {
                display: none;
            }

            list-style: none;
            list-style-type: none;
            -webkit-appearance: none;

            &::-webkit-details-marker {
                display: none;
            }

            &::marker {
                display: none;
            }

            p,
            summary {
                color: $light100;
                font-family: $poppins;
                outline: none;
                list-style: none;
            }

            summary {
                cursor: pointer;
                font-size: calc($base + 1px);
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                list-style-type: none;
                -webkit-appearance: none;

                &::-webkit-details-marker {
                    display: none;
                }

                &::marker {
                    display: none;
                }
            }

            >p {
                margin-top: $base;
                font-size: $sm;
            }
        }
    }
}