.swiper-button-next,
.swiper-button-prev {
    opacity: 0;
}

.home__hero {
    min-height: 400px;

    &__swiper-cover {
        position: relative;
        isolation: isolate;

        &__slider {

            &__slides {
                min-height: 400px;
                padding: 7rem 0;
                position: relative;

                @media (max-width: 600px) {
                    padding: 4rem 0;
                }

                figure {

                    figcaption {
                        font-size: 10rem;
                        font-size: clamp(2.5rem, 15vw, 14rem);
                        color: $brown100;
                        font-family: $poppins;
                        font-weight: 600;
                        position: absolute;
                        transform: translate(-50%, -55%);
                        left: 50%;
                        top: 40%;
                        z-index: -2;

                        @media (max-width: 600px) {
                            display: none;
                        }
                    }

                    .fruit__img {
                        height: 480px;
                        display: block;
                        margin: 0 auto 3rem auto;
                        transition: all .3s ease-in-out;

                        @media (max-width: 800px) {
                            height: 400px;
                            margin-top: 3rem;
                            margin-bottom: $base;
                        }
                    }

                }

                .chunks {
                    position: absolute;
                    inset: 0;
                    padding: 6rem 5rem;
                    pointer-events: none;

                    @media (max-width: 800px) {
                        padding: 5rem 0;
                    }

                    &__container {
                        position: relative;
                        height: 100%;
                        z-index: -1;

                        img {
                            height: 70px;
                            object-fit: cover;
                            position: absolute;

                            @media (max-width: 480px) {
                                height: 60px;
                            }

                            &:nth-child(1) {
                                left: 6%;
                                top: 4%;
                            }

                            &:nth-child(2) {
                                left: 24%;
                                top: 0;
                            }

                            &:nth-child(3) {
                                left: 30%;
                                top: 20%;
                            }

                            &:nth-child(4) {
                                left: 10%;
                                bottom: 30%;
                            }

                            &:nth-child(5) {
                                left: 0;
                                bottom: 0;
                            }

                            &:nth-child(6) {
                                left: 27%;
                                bottom: 25%;
                            }

                            &:nth-child(7) {
                                left: 34%;
                                bottom: -3rem;
                            }

                            &:nth-child(8) {
                                left: 47%;
                                bottom: 8%;
                            }

                            &:nth-child(9) {
                                right: 33%;
                                bottom: 0px;
                            }

                            &:nth-child(10) {
                                right: 2%;
                                bottom: 1%;
                            }

                            &:nth-child(11) {
                                right: 25%;
                                bottom: 25%;
                            }

                            &:nth-child(12) {
                                right: 20%;
                                bottom: 50%;
                            }

                            &:nth-child(13) {
                                right: 5%;
                                bottom: 43%;
                            }

                            &:nth-child(14) {
                                right: 20%;
                                top: 15%;
                            }

                            &:nth-child(15) {
                                right: 3%;
                                top: 5%;
                            }

                            &:nth-child(16) {
                                right: 29%;
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }


    .home__anmeties {
        translate: 0% -70px;
        padding: 0 $p-fluid;
        margin-bottom: -30px;

        h3 {
            font-family: $pacifico;
            color: $light100;
            font-size: 1.25rem;
            font-weight: 400;
            margin-bottom: calc($tiny - 4px);
        }

        p {
            color: $light200;
            font-family: $poppins;
            font-size: $base;
            line-height: 1.4;
        }

        >div {
            background: $dark200;
            border-radius: 20px;
            padding: $base $md;

            h2 {
                font-family: $pacifico;
                font-weight: 300;
                font-size: $big;
                color: $light200;
                margin-bottom: $base;
            }

            >div {
                display: flex;
                justify-content: space-between;
                margin: auto;
                flex-wrap: wrap;
                gap: $sm;

                >div {
                    display: flex;
                    flex-grow: 1;
                    flex-basis: 150px;

                    svg {
                        margin: 5px 8px 0 0;
                    }

                }
            }
        }
    }
}