.main__header {
    position: fixed;
    background: $header__transparent;
    width: 100%;
    z-index: 1000;

    &__nav {
        padding: $sm $p-fluid;
        position: relative;

        @media (max-width: 600px) {
            padding: .4rem $p-fluid;

            .nav-logo {
                height: 50px;
                width: 130px;
            }
        }

        & .links {
            .close-nav {
                position: absolute;
                right: $p-fluid;
                top: calc($big + 5px);
                cursor: pointer;

                @media (min-width: 1120px) {
                    display: none;
                }
            }

            a {
                font-size: $md;
                font-family: $pacifico;
                color: hsla(26, 0%, 70%, 1);
                margin: 0 calc($base * 2);
                display: block;

                &:hover {
                    color: $light100;

                    * {
                        fill: $light100;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            .cart,
            .logout {
                gap: 4px;
                display: flex;
                position: relative;
                cursor: pointer;

                .cart__items__qty {
                    background: transparent;
                    border: none;
                    background-color: black;
                    color: $light100;
                    font-size: $sm;
                    font-family: $poppins;
                    border-radius: 50%;
                    padding: 5px 0;
                    height: 35px;
                    width: 35px;
                }
            }

            .active {
                color: $light100;

                rect {
                    fill: $light100;
                }
            }

            @media (max-width: 1120px) {
                position: absolute;
                flex-direction: column;
                top: -20%;
                opacity: 0;
                pointer-events: none;
                background: hsla(0, 0%, 13%, .95);
                padding: 2rem 0;
                min-height: 100vh;
                overflow-y: scroll;
                align-items: flex-start;
                right: 0;
                width: 100%;
                max-width: 500px;
                transition: all .3s ease-in-out;

                a {
                    margin-bottom: $big;
                }

                scrollbar-width: none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        .show {
            top: 0;
            opacity: 1;
            pointer-events: all;
        }

        .mobile__nav__toggler {
            cursor: pointer;

            span {
                display: block;
                width: 25px;
                height: 3px;
                background: hsla(26, 0%, 90%, 1);
                border-radius: 10px;

                &:nth-child(2) {
                    margin: 5px 0;
                }
            }

            @media (min-width: 1120px) {
                display: none;
            }
        }
    }
}