#account__overview {
    padding: 7rem 2rem 0 0;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: $big;
    margin-bottom: $big;
    position: relative;

    @media(max-width: 750px) {
        grid-template-columns: 1fr;
        padding: 4.5rem $base 0 $base;
        gap: 8px;
    }

    &__overview {
        border: 1px solid hsla(0, 0%, 24%, 1);
        border-radius: 20px;
        padding: $base;
        color: $light100;
        font-family: $poppins;

        @media(max-width: 500px) {
            padding: $base;
        }

        h2 {
            font-size: $big;
            font-family: $pacifico;
            font-weight: 400;
            margin-bottom: 2rem;

            @media (max-width: 480px) {
                font-size: $md;
            }
        }

        h3 {
            font-size: $md;
            font-weight: 500;
            margin-bottom: $md;

            @media (max-width: 480px) {
                font-size: 1.3rem;
                font-weight: 500;
            }
        }

        h4 {
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 5px;

            @media (max-width: 480px) {
                font-size: 1.05rem;
            }
        }

        p {
            color: hsla(26, 0%, 70%, 1);
            font-weight: 300;
        }

        >section {
            justify-content: space-between;
            flex-wrap: wrap;
            column-gap: 3rem;
            row-gap: 2rem;

            .details,
            .address {
                flex-grow: 1;
                flex-basis: 200px;
            }

            .details {
                p {
                    border-radius: 20px;
                    border: 1px solid hsla(0, 0%, 24%, 1);
                    padding: .5rem 1.2rem;
                    margin-bottom: $big;
                }

                a {
                    color: $light100;
                    background: transparent;
                    border: 1px solid hsla(0, 0%, 24%, 1);
                    border-radius: 20px;
                    padding: 12px 40px;
                    font-size: calc($base + 2px);
                    display: block;
                    margin-top: $big;
                    width: fit-content;
                }
            }

            .address {
                p {
                    margin-bottom: $base;
                }
            }
        }
    }
}

#account__orders {
    padding: 7rem 2rem 0 0;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: $big;
    margin-bottom: $big;
    position: relative;

    @media(max-width: 750px) {
        grid-template-columns: 1fr;
        padding: 4.5rem $base 0 $base;
        gap: 8px;
    }

    &__orders {
        color: $light100;
        border: 1px solid hsla(0, 0%, 24%, 1);
        border-radius: 20px;
        color: $light100;
        font-family: $poppins;
        padding: $base;

        h2 {
            font-size: $big;
            font-family: $pacifico;
            font-weight: 400;
            margin-bottom: $base;

            @media (max-width: 480px) {
                font-size: $md;
            }
        }

        .orders {

            h3 {
                font-size: $md;
                font-family: $pacifico;
                font-weight: 400;
                margin-bottom: .4rem;

                @media (max-width: 480px) {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
            }

            p {
                color: hsla(0, 0%, 82%, 1);
                font-weight: 300;
            }

            .order {
                gap: $base;
                display: flex;
                flex-wrap: wrap;
                padding: $base 0;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid hsla(0, 0%, 24%, 1);

                >div {
                    &:first-child {
                        align-items: center;
                        flex-wrap: wrap;

                        img {
                            margin-right: $base;
                        }

                        p {
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

#account__saved__items {
    padding: 7rem 2rem 0 0;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: $big;
    margin-bottom: $big;
    position: relative;

    @media(max-width: 750px) {
        grid-template-columns: 1fr;
        padding: 4.5rem $base 0 $base;
        gap: 8px;
    }

    &__items {
        color: $light100;
        border: 1px solid hsla(0, 0%, 24%, 1);
        border-radius: 20px;
        color: $light100;
        font-family: $poppins;
        padding: $base;

        h2 {
            font-size: $big;
            font-family: $pacifico;
            font-weight: 400;
            margin-bottom: $big;

            @media (max-width: 480px) {
                font-size: $md;
            }
        }

        >div {
            gap: $base;
            margin-bottom: $base;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

#account__edit {
    padding: 7rem 2rem 0 0;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: $big;
    margin-bottom: $big;
    position: relative;

    @media(max-width: 750px) {
        grid-template-columns: 1fr;
        padding: 4.5rem $base 0 $base;
        gap: 8px;
    }

    &__edit {
        color: $light100;
        border: 1px solid hsla(0, 0%, 24%, 1);
        border-radius: 20px;
        color: $light100;
        font-family: $poppins;
        padding: $base;

        h2 {
            font-size: $big;
            font-family: $pacifico;
            font-weight: 400;
            margin-bottom: $big;

            @media (max-width: 480px) {
                font-size: $md;
                margin-bottom: $base;
            }
        }

        h3 {
            font-size: $md;
            font-family: $poppins;
            font-weight: 600;

            @media (max-width: 480px) {
                font-size: 1.3rem;
                font-weight: 500;
            }
        }

        h4 {
            font-weight: 400;
            font-family: $poppins;
            font-size: calc($base + 2px);
            color: hsla(0, 0%, 82%, 1);
            margin: $tiny 0 $base 0;

            @media (max-width: 480px) {
                font-size: 1.05rem;
            }
        }

        form {
            margin-top: $big;

            >div {
                display: flex;
                flex-wrap: wrap;
                gap: $big;

                >div {
                    flex-basis: 350px;
                }
            }


            * {
                font-family: $poppins;
                font-size: $base;
                color: $light100;
            }

            label {
                display: block;
                font-size: 1.25rem;

                @media (max-width: 480px) {
                    font-size: $base;
                }
            }

            input {
                border: 1px solid hsla(0, 0%, 24%, 1);
                background: transparent;
                display: block;
                padding: .5rem $base;
                border-radius: 20px;
                width: 100%;
                margin-top: .5rem;

                &::placeholder {
                    color: hsla(26, 0%, 70%, 1);
                    font-weight: 300;
                }

                &:focus {
                    outline: 1px solid hsla(0, 0%, 24%, 1);
                }
            }

            button {
                background: $light100;
                border: 2px solid $light100;
                border-radius: 20px;
                padding: .6rem $md;
                display: block;
                margin-top: $big;
                color: $brown100;
                font-weight: 600;
                font-size: 1.25rem;
            }
        }

    }
}