#deals__day {
    &__hero {
        color: $light100;
        padding: 4rem $p-fluid;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media(max-width: 600px) {
            min-height: 450px;
        }

        h2 {
            font-size: 5rem;
            font-size: clamp($big, 5vw, 5rem);
            font-family: $pacifico;
            font-weight: 400;
            margin-bottom: $base;
        }

        p {
            font-family: $poppins;
            font-size: 1.2rem;
        }
    }

    &__deals {
        padding: $big $p-fluid;
    }
}