.fruit__recipe {
    padding: 6rem $p-fluid;

    * {
        color: $brown100;
    }

    p {
        font-family: $poppins;
        font-size: $base;
    }


    h2 {
        font-size: 3rem;
        font-weight: 400;
        font-family: $pacifico;

        @media(max-width: 500px) {
            font-size: 2rem;
        }
    }

    h3 {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: $pacifico;
        margin-bottom: $big;
        line-height: 1.5;

        @media(max-width: 500px) {
            font-size: 1.5rem;
        }
    }

    p {
        margin: .5rem 0;
    }

    &__name {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: $big;

        >div {
            flex-grow: 1;
            flex-basis: 300px;

            p {
                max-width: 460px;

                @media (max-width: 750px) {
                    max-width: 100%;
                }
            }
        }

        picture {
            flex-grow: 1;
            flex-basis: 300px;
            position: relative;
            flex-grow: 1;
            flex-basis: 300px;

            >figure {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__steps {
        column-gap: 4rem;
        row-gap: $base;
        align-items: center;
        padding: $big 0;

        section {
            flex-grow: 1;
            flex-basis: 300px;
        }

        figure {
            flex-grow: 1;
            flex-basis: 300px;
        }

        ul {
            margin-left: $big;

            li {
                list-style: unset;
                font-family: $poppins;
                font-weight: 400;
                font-size: $base;
            }
        }

        @media(max-width: 650px) {
            grid-template-columns: 1fr;

            section {
                order: 1;
            }

            figure {
                order: 2;

                img {
                    margin: auto;
                }
            }
        }
    }

    .reverse {
        display: grid;
        grid-template-columns: 1.1fr .9fr;

        figure {
            text-align: right;

            img {
                display: block;
                margin-left: auto;
            }
        }
    }

    .row {
        display: grid;
        grid-template-columns: .9fr 1.1fr;
    }

}