.blog-back-btn {
    background: transparent;

    @media (max-width:600px) {
        padding-top: 5rem;
    }

    button {
        font-size: 1.2rem;
        font-family: $poppins;
        color: $light100;
        background: transparent;
        border: 1px solid $light100;
        border-radius: 20px;
        padding: 8px $base;
        display: flex;
        align-items: center;

        svg {
            margin-right: 4px;
        }

        @media (max-width:480px) {
            font-size: $sm;
        }
    }
}

.fruit__recipe {
    padding: 3rem $p-fluid;
    scroll-padding-top: 10rem;

    * {
        color: $brown100;
    }

    p {
        font-family: $poppins;
        font-size: $base;
    }


    h2 {
        font-size: 3rem;
        font-weight: 400;
        font-family: $pacifico;

        @media(max-width: 500px) {
            font-size: 2rem;
        }
    }

    h3 {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: $pacifico;
        margin-bottom: $big;
        line-height: 1.5;

        @media(max-width: 500px) {
            font-size: 1.5rem;
        }
    }

    p {
        margin: .5rem 0;
    }

    &__name {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: $big;
        overflow: hidden;

        .container {
            flex-grow: 1;
            flex-basis: 300px;
            position: relative;
            overflow: hidden;

            p {
                max-width: 460px;

                @media (max-width: 750px) {
                    max-width: 100%;
                }
            }

            .hide {
                opacity: 0;
            }

            .show {
                position: absolute;
                top: 0;
            }
        }

        picture {
            flex-grow: 1;
            flex-basis: 300px;
            position: relative;
            flex-grow: 1;
            flex-basis: 300px;

            >figure {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__steps {
        column-gap: 4rem;
        row-gap: $base;
        align-items: center;
        padding: $big 0;

        section {
            flex-grow: 1;
            flex-basis: 300px;
        }

        figure {
            flex-grow: 1;
            flex-basis: 300px;
        }

        ul {
            margin-left: $big;

            li {
                list-style: unset;
                font-family: $poppins;
                font-weight: 400;
                font-size: $base;
            }
        }

        @media(max-width: 650px) {
            grid-template-columns: 1fr;

            section {
                order: 1;
            }

            figure {
                order: 2;

                img {
                    margin: auto;
                }
            }
        }
    }

    .reverse {
        display: grid;
        grid-template-columns: 1.1fr .9fr;

        figure {
            text-align: right;

            img {
                display: block;
                margin-left: auto;
            }
        }

        @media(max-width: 650px) {
            grid-template-columns: 1fr;

            section {
                order: 1;
            }

            figure {
                order: 2;

                img {
                    margin: auto;
                }
            }
        }
    }

    .row {
        display: grid;
        grid-template-columns: .9fr 1.1fr;

        @media(max-width: 650px) {
            grid-template-columns: 1fr;

            section {
                order: 1;
            }

            figure {
                order: 2;

                img {
                    margin: auto;
                }
            }
        }
    }

}

#related__articles {
    padding: 2rem clamp(0.9rem, 5vw, 20rem);
    background: $light100;

    h3 {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: $pacifico;
        margin-bottom: $big;
        line-height: 1.5;
        color: $brown100;

        @media(max-width: 500px) {
            font-size: 1.5rem;
        }
    }

    >div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: hsl(26, 100%, 10%);
        column-gap: 3rem;
        row-gap: 2rem;
    }
}