$scroll-bar-color: hsl(0, 0%, 77%, .5);
$scroll-bar-bg-color: hsla(0, 0%, 13%, 1);

// #FE678E
// #722F37
// #0B4E8E
// #CCA600
#home__page {

    .heading {
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        margin-bottom: 15px;
        gap: 10px !important;

        button {
            border: 1px solid $light100;
            background: transparent;
            font-size: 1.1rem;
            color: $light100;
            font-family: $poppins;
            border-radius: 20px;
            padding: 7px 24px;

            @media (max-width: 480px) {
                font-size: $sm;
            }
        }
    }

    .categories,
    .hot__deals,
    .most__searched,
    .recently__viewed,
    .reviews {
        padding: 0 $p-fluid $big $p-fluid;

        h2 {
            font-size: calc($big + .5rem);
            font-family: $pacifico;
            color: $light100;
            font-weight: 400;
            // margin-bottom: $base;
            line-height: 1.2;

            @media (max-width: 850px) {
                font-size: 1.8rem;
            }

            @media (max-width: 480px) {
                font-size: 1.3rem;
            }

            @media (max-width: 300px) {
                font-size: $base;
            }
        }
    }

    .categories {

        &__drinks {
            display: flex;
            justify-content: center;
            gap: $md;
            overflow-x: scroll;
            justify-content: space-between;
            padding-bottom: $base;

            &::-webkit-scrollbar {
                width: 5px;
                height: 10px;

                @media (max-width: 480px) {
                    display: none;
                }
            }

            &::-webkit-scrollbar-track {
                background: $scroll-bar-bg-color;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $scroll-bar-color;
                border-radius: 20px;
                border: 3px solid $scroll-bar-bg-color;
            }

            @media (max-width: 850px) {
                gap: 10px;
            }

            figure {
                background: $light100;
                border-radius: 20px;
                flex-grow: 1;
                flex-basis: 150px;
                padding: $thin $thin 1.2rem $thin;
                text-align: center;
                max-width: 350px;
                margin: 0 auto;
                position: relative;
                isolation: isolate;

                &::before {
                    position: absolute;
                    content: "";
                    display: inline-block;
                    height: 45%;
                    top: 4.3rem;
                    left: 30px;
                    right: 0;
                    z-index: -1;
                    max-width: 100%;
                    transition: all .3s ease-in-out;
                    opacity: 0;
                    pointer-events: none;
                    border-radius: 45% 20px 12% 20px / 69% 20px 14% 20px;

                    @media (max-width: 850px) {
                        top: 2.3rem;
                    }
                }

                &:nth-child(1) {
                    &::before {
                        background: #FE678E;
                    }
                }

                &:nth-child(2) {
                    &::before {
                        background: #722F37;
                    }
                }

                &:nth-child(3) {
                    &::before {
                        background: #0B4E8E;
                    }
                }

                &:nth-child(4) {
                    &::before {
                        background: #CCA600;
                    }
                }

                &:hover {
                    &::before {
                        left: $base;
                        right: $base;
                        opacity: 1;
                    }
                }

                @media (max-width: 1100px) {
                    min-width: 280px;
                }

                @media (max-width: 850px) {
                    padding: 4px;
                    min-width: 210px;
                }

                img {
                    display: inline-block;
                    margin: 0 auto $tiny auto;

                    @media (max-width: 850px) {
                        height: 110px;
                    }
                }

                figcaption {
                    font-size: $base;
                    font-family: $pacifico;
                    color: $brown100;

                    @media (max-width: 850px) {
                        font-size: $sm;
                    }
                }
            }
        }
    }

    .trial {
        background: $green100;
        padding: 3rem $p-fluid;
        color: $brown100;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: $big;

        >* {
            flex-grow: 1;
            flex-basis: 300px;
        }

        h2 {
            font-size: 2.5rem;
            font-family: $pacifico;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: $big;
        }

        p {
            font-size: 1.25rem;
            font-family: $poppins;
        }

        button {
            font-family: $poppins;
            border-radius: 20px;
            border: 1px solid transparent;
            padding: 10px 24px;
            font-size: 1.25rem;
            font-weight: 500;
            color: inherit;
            margin-top: $big;
        }

        @media (max-width: 480px) {

            h2 {
                font-size: 1.8rem;
                margin-bottom: $base;
            }

            p {
                font-size: $base;
            }

            button {
                font-size: $base;
                margin-top: $base;
            }
        }

        figure {
            img {
                width: 100%;
            }
        }
    }

    .qualities {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        color: $light100;
        padding: 4rem $p-fluid $big $p-fluid;

        section {
            flex-grow: 1;
            flex-basis: 300px;
            border: 1px solid $light100;
            border-radius: 20px;
            padding: $big;

            h2 {
                font-size: 2.5rem;
                font-family: $pacifico;
                font-weight: 400;
                line-height: 1.2;
                margin-bottom: $base;
            }

            p,
            li {
                font-family: $poppins;
                line-height: 1.7;
            }

            li {
                list-style: numeric;
                margin-left: $big;
            }

            @media (max-width: 480px) {
                padding: $base;

                h2 {
                    font-size: 1.8rem;
                }
            }

        }
    }

    .reviews {
        padding: $base $p-fluid;

        >p {
            color: $light100;
        }

        p {
            font-family: $poppins;
            font-size: $base;
        }

        &__box {
            display: flex;
            justify-content: space-between;
            margin-top: $big;
            gap: $base;
            overflow-x: scroll;
            padding-bottom: $base;

            @media (max-width: 850px) {
                gap: 10px;
            }

            &::-webkit-scrollbar {
                width: 5px;
                height: 10px;

                @media (max-width: 480px) {
                    display: none;
                }
            }

            &::-webkit-scrollbar-track {
                background: $scroll-bar-bg-color;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $scroll-bar-color;
                border-radius: 20px;
                border: 3px solid $scroll-bar-bg-color;
            }

            >div {
                background: $light100;
                border: 1px solid hsla(0, 0%, 86%, 1);
                padding: $base;
                max-width: 270px;
                flex-basis: 200px;
                flex-grow: 1;

                @media (max-width: 1000px) {
                    padding: 10px;
                    min-width: 210px;
                }

                @media (max-width: 600px) {
                    min-width: 190px;
                }

                >P {
                    color: $brown100;
                    margin: $thin 0;

                    @media (max-width: 600px) {
                        font-size: $sm;
                    }
                }

                .user__post {
                    display: flex;

                    img {
                        margin-right: $base;
                        object-fit: contain;

                        @media (max-width: 600px) {
                            margin-right: 5px;
                        }
                    }

                    h4 {
                        font-family: $pacifico;
                        font-size: $base;
                        color: $brown100;
                        font-weight: 400;
                        margin-bottom: 5px;

                        @media (max-width: 600px) {
                            font-size: $sm;
                        }
                    }

                    p {
                        color: $dark100;
                        font-size: 11px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;

                        svg {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}