.auth {
    padding: 8rem $p-fluid 0 $p-fluid;
    justify-content: center;
    align-items: flex-end;
    gap: $big;
    max-width: 1250px;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    isolation: isolate;

    @media (max-width: 850px) {
        margin-bottom: $big;
    }

    section {
        flex-basis: 300px;
        flex-grow: 1;
        border: 1px solid hsla(0, 0%, 24%, 1);
        border-radius: 20px;
        padding: 3rem $base;
        flex-basis: 350px;
        flex-grow: 1;

        @media (max-width: 600px) {
            padding: 2rem $base 2rem $base;
            margin-bottom: $big;
        }

        h2 {
            font-weight: 400;
            font-size: 2.5rem;
            font-family: $pacifico;
            color: $light100;
            text-align: center;
        }

        .link {
            font-size: $base;
            font-family: $poppins;
            text-align: center;
            color: hsla(0, 0%, 74%, 1);
            margin-top: $base;

            a {
                color: $light100;
                font-size: 1.2rem;
            }
        }

        form {
            margin-top: 3rem;

            button {
                background: $light100;
                border: 2px solid $light100;
                border-radius: 20px;
                padding: .4rem $big;
                width: 100%;
                display: block;
                margin: 2rem auto 0 auto;
                color: $brown100;
                font-weight: 500;
                font-family: $poppins;
                font-size: calc($base + 2px);
            }
        }
    }

    figure {
        flex-basis: 250px;
        flex-grow: 1;

        img {
            margin-left: auto;
            display: block;
        }

        @media (max-width: 850px) {
            position: absolute;
            z-index: -1;
            opacity: .1;
        }
    }
}