@import "./styles/scss/variables";
@import "./styles/custom.scss";
@import "./styles/components/navbar.scss";
@import "./styles/components/home.scss";
@import "./styles/pages/home.scss";
@import "./styles/components/products.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    img {
        max-width: 100%;
    }
}