@import "./styles/scss/variables";
@import "./styles/custom.scss";
@import "./styles/components/navbar.scss";
@import "./styles/components/footer.scss";
@import "./styles/components/home.scss";
@import "./styles/pages/home.scss";
@import "./styles/pages/contact.scss";
@import "./styles/pages/register.scss";
@import "./styles/pages/account.scss";
@import "./styles/components/products.scss";
@import "./styles/components/inputs.scss";
@import "./styles/components/faq.scss";
@import "./styles/components/account.scss";
@import "./styles/components/blog.scss";
@import "./styles/pages/fruit-recipe.scss";
@import "./styles/pages/cart.scss";
@import "./styles/pages/deals.scss";

.blog__hero__section {
    background: linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7)), url("./assets/images/Outlay.png") no-repeat center;
    background-size: cover;
}

#deals__day__hero {
    background: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8)), url("./assets/images/deals.png") no-repeat center;
    background-size: cover;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background: #222;

    body {
        position: relative;

        @media (max-width: 480px) {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        a {
            text-decoration: none;
        }

        li {
            list-style: none;
        }

        img,
        svg {
            max-width: 100%;
        }

        button {
            cursor: pointer;
        }
    }

}

$scroll-bar-color: hsl(0, 0%, 77%, .5);
$scroll-bar-bg-color: hsla(0, 0%, 13%, 1);

body::-webkit-scrollbar {
    width: 12px;

    @media (max-width: 480px) {
        display: none;
    }
}

body::-webkit-scrollbar-track {
    background: $scroll-bar-bg-color;
}

body::-webkit-scrollbar-thumb {
    background-color: $scroll-bar-color;
    border-radius: 20px;
    border: 3px solid $scroll-bar-bg-color;
}