// colors
$header__transparent: hsla(0, 0%, 0%, 0.4);
$dark100: hsla(0, 0%, 0%, 1);
$light100: hsla(0, 0%, 100%, 1);
$light200: hsla(0, 0%, 82%, 1);
$purple200: hsla(318, 35%, 65%, 1);
$dark200: hsla(0, 0%, 10%, 1);
$dark300: hsla(0, 0%, 19%, 1);
$brown100: hsla(26, 100%, 10%, 1);
$brown200: hsla(25, 100%, 17%, 1);
$grey100: hsla(25, 5%, 60%, 1);
$green100: hsla(103, 43%, 49%, 1);
$creamPeach: hsla(25, 59%, 88%, 1);

// font sizes
$big: 2rem;
$md: 1.5rem;
$base: 1rem;
$sm: .9rem;
$thin: .8rem;
$tiny: .7rem;

//layout
$p-fluid: clamp($sm, 5vw, 20rem);

// font family
$poppins: "Poppins", Arial, sans-serif;
$pacifico: "Pacifico", "Poppins", Arial, sans-serif;